rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Tạm thời cho phép tất cả read/write
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
